// Here you can add other styles
.tab-pane .nav-tabs .nav-link.active,
.tab-pane .nav-tabs .navbar .active.dropdown-toggle,
.tab-pane .navbar .nav-tabs .active.dropdown-toggle{
  background-color: #ebeef0;
  border-color: #f76c6b;
  border-bottom-color: #fefefe;
}

